[submodule "deps/eigen"]
	path = deps/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "deps/WindowHandler"]
	path = deps/WindowHandler
	url = https://github.com/lscialom/WindowHandler.git
